* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #39d52d;
    text-align: center;
}

a:hover {
    cursor: pointer;
    color: coral;
}

li {
    list-style: none;
}


/* #main-section {
    background: rgb(95, 94, 94);
} */

.img {
    height: 200px;
    width:200px;
}

.container {
    padding: 1rem;
}

/* #title {
    background: #f4f4f4;
} */

#title h1 {
    text-align: center;
    color: #39d52d;
}

.chem-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

@media(max-width: 500px) {
    .chem-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;
        padding: 1rem;
    }  
}

.chem-container h3 {
    padding: 1rem;
    color: #39d52d;
}

#main-section .chem-container .chem-content {
    background: #f4f4f4;
    border: #39d52d 1px solid;
    border-radius: 5px;
    margin: .75rem;
    padding: .75rem;
}

#title .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title .container h3 {
    margin-top: 1rem;
}

#chem-buttons .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#chem-buttons .container .btn {
    margin: 2rem;
}

#chem-buttons ul li {
    list-style: none;
}

#chem-buttons .container .btn a {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    background: #39d52d;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    width: 800px;
}

.btn a:hover {
   opacity: .8;
   padding: 1.25rem;
}

#pests .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pests .container h1 {
    margin-bottom: 1rem;
}

#pests .container ul li {
    margin: 1rem;
    background: #39d52d;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
}

#pests .container ul li:hover {
   opacity: .5;
   cursor: pointer;
}

#pests .container ul li a{
    color: #fff;
    font-weight: bold;
}
